
  <app-searchweb></app-searchweb>
  <div class="flex flex-col">
    
    <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
      
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full ">
            <thead class="bg-yellow-50 border-b ">
              <tr class="bg-blue-500" >
                <th *ngFor="let alh of allcharheader" scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  {{alh.header}}
                </th>
               
              </tr >
            </thead>
            <tbody>
             
              <tr *ngFor="let alc of allchar" class="bg-gray-100 border-b hover:bg-orange-400">
              
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{alc.id}}</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{alc.name}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{alc.info.Birthdate}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{alc.info.KekkeiGenkai}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{alc.info.Occupation}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{alc.info.Team}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{alc.info.Classification}}
                </td>
              </tr>
              
            
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>